<%- include("partials/header") -%>

<h2>About us</h2>

<div class="description">
  <p>Ace Tennis Shop was founded in 2019. Our long-term experience in tennis supports our mission,</p>
  <p>to provide each tennis player the proper equipment to increase their performance. Inside our shop</p>
  <p>you will find a variety of products relative to Tennis like rackets, shoes, balls. In the near</p>
  <p>future we are going to expand in the market bringing clothing, grips and also tennis coaching tools.</p>


  <img style="margin-top:2rem;" src="/images/tennis_shop.jpg" alt="Our Tennis Shop">
</div>







<%- include("partials/footer") -%>
