<%-include("partials/header") -%>

<button type="button" class="checkout btn btn-outline-success"><a href="/payment">Checkout</a></button>
<!-- btn btn-secondary dropdown-toggle -->

<h3>Check out our special offers!!!!</h3>

<!-Creating the products to be highlighted in cards ->
<div class="row home">

  <div class="highlight-products col-lg-3 col-md-4">
    <div class="card" style="width: 18rem;">
      <img src="/images/1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Head Speed Pro Tennis Racket</h5>
        <p class="card-text">Endorsed by Novak Djokovic, the Speed Pro packs a surgical 18x20 string pattern and buttery 62-RA stiffness. Factor in the 329 gram strung weight and you have a solid option for the experienced player in search of control and feel.</p>
        <a href="/payment" class="btn btn-primary">Buy it now</a>
      </div>
    </div>
  </div>
  <div class="highlight-products col-lg-3 col-md-4 d-flex align-items-stretch">
    <div class="card" style="width: 18rem;" >
      <img src="/images/4.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Nike Air Zoom Ultra Men's Tennis Shoes</h5>
        <p class="card-text">Designed for quickness and control, the Air Zoom Ultra React Nike Tennis Shoes (men) are built with ultralight materials, a dynamic lacing system and responsive cushioning. Zoom Air units in the heel and forefoot provide lightweight cushioning. </p>
        <a href="/payment" class="btn btn-primary">Buy it now</a>
      </div>
    </div>
  </div>

  <div class="highlight-products col-lg-3 col-md-4">
    <div class="card" style="width: 18rem;">
      <img src="images/8.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Babolat French Open Clay Tennis Balls</h5>
        <p class="card-text">Babolat French Open balls are the official balls in Rolland Garros Grand Slam. The are properly designed to have proper bounce and durability in clay surface. Each can contains 4 balls with the official logo. They can sustain over 4 matches</p>
        <a href="/payment" class="btn btn-primary">Buy it now</a>
      </div>
    </div>
  </div>

</div>


<p class="testimonial">Life is like a game of tennis.. the player who serves well seldom loses. ...</p>


<%- include("partials/footer") -%>
